<div class="login">
	<div class="logoHome">
		<img src="img/azulEBrancoEdit.png" width="10%" height="175px">
		<div class="logoText">
			<h1 class="socialLogo">SOCIAL</h1>
			<h3 class="socialLogo">Fitness</h3>
		</div>
	</div>
	<div class="imgFundoCadastro">
		<form ng-submit="cadastro()">
		
		<select class="selectpicker">
		  <option>Mustard</option>
		  <option>Ketchup</option>
		  <option>Relish</option>
		</select>
		
			<!-- linha 1 -->
			<div class="row">
				<div class="col-xs-1 col-sm-3"></div>
				<div class="col-xs-5 col-sm-3">
					<div class="form-group">
						<label class="fonteCadastro">Nome:</label> 
						<input type="text" class="form-control transparent-input" id="usr">
					</div>
				</div>
				<div class="col-xs-5 col-sm-3">
					<div class="form-group">
						<label class="fonteCadastro">Sobrenome:</label> 
						<input type="text" class="form-control transparent-input" id="pwd">
					</div>
				</div>
				<div class="col-xs-1 col-sm-3"></div>
			</div>

			<!-- linha 2 -->
			<div class="row">					
				<div class="col-xs-1 col-sm-3"></div>
				<div class="col-xs-5 col-sm-3">
					<div class="form-group">
						<label class="fonteCadastro">Telefone:</label> 
						<input type="text" class="form-control transparent-input" id="usr">
					</div>
				</div>
				<div class="col-xs-5 col-sm-3">
					<div class="form-group">
						<label class="fonteCadastro">E-mail:</label> 
						<input type="text" class="form-control transparent-input" id="pwd">
					</div>
				</div>
				<div class="col-xs-1 col-sm-3"></div>
			</div>
			
			<!-- linha 3 -->
			<div class="row">					
				<div class="col-xs-1 col-sm-3"></div>
				<div class="col-xs-5 col-sm-3">
					<div class="form-group">
						<label class="fonteCadastro" for="pwd">Senha:</label> 
						<input type="password" class="form-control transparent-input" id="usr">
					</div>
				</div>
				<div class="col-xs-5 col-sm-3">
					<div class="form-group">
						<label class="fonteCadastro" for="pwd">Confirme sua senha:</label> 
						<input type="password" class="form-control" id="pwd">
					</div>
				</div>
				<div class="col-xs-1 col-sm-3"></div>
			</div>
			
		</form>
			
	</div>

</div>