<meta charset="utf-8" />
<div class="login">
	<div class="logoHome">
		<img src="img/azulEBrancoEdit.png" width="130px" height="175px">
		<div class="logoText">
			<h1 class="socialLogo">SOCIAL</h1>
			<h3 class="socialLogo">Fitness</h3>
		</div>
	</div>
	<div class="menuClass">
		<ul class="nav navbar-nav">
			<li class="menuOptions"><a class="fa fa-home" href="#/home">		Home</a></li>
			<li class="menuOptions"><a class="fa fa-envelope">		Mensagens</a></li>
			<li class="menuOptions"><a class="fa fa-search" href="#/search">		Pesquisar</a></li>
			<li class="menuOptions"><a class="fa fa-table">		Planos</a></li>
			<li class="menuOptions"><a class="fa fa-question">		Ajuda</a></li>
		</ul>
	</div>
</div>