
<div class="col-md-2"></div>

<div class="background-home">
	<div class="col-md-8 white-color">
		<div>
			<div ng-include="'views/menu.html'"></div>
			<!-- Bem Vindo
			{{usuario}} -->
		</div>
		
		<div class="box-info boxPlans">
				<div class="col-sm-1 "></div>
				<div class="col-sm-10 boxMyPlan"></div>
				<div class="col-sm-1 "></div>
				<div class="boxPlan bronze col-sm-4">
				
				</div>
				<div class="boxPlan prata col-sm-4">
				
				</div>
				<div class="boxPlan gold col-sm-4">
				
				</div>
				<div class="boxPlan pratina col-sm-4">
				
				</div>
		</div>
		
		<div ng-include="'views/Rodape.html'"></div>
	</div>
</div>
<div class="col-md-2"></div>
